* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;

    font-size: 1.6rem;
    font-family: "sora", sans-serif;

    background: #131517;
    color: #f9f9f9;
}
