@use "../abstracts";

.header {
    margin-top: 40px;
    margin-bottom: 140px;

    @include abstracts.screen(xl) {
        margin-bottom: 100px;
    }

    @include abstracts.screen(md) {
        margin-bottom: 80px;
    }
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include abstracts.screen(md) {
        justify-content: initial;
    }

    &__more {
        margin-left: 44px;
    }
}

.navbar {
    @include abstracts.screen(md) {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 30%;
        z-index: 1;

        padding: 30px;
        border-radius: 0px 15px 15px 0px;
        background-color: #444444;

        &.hide {
            transform: translateX(-100%);
        }

        &.show {
            transform: translateX(0);
        }

        &.show ~ .overlay {
            opacity: 1;
            visibility: visible;
        }

        transition: transform 0.3s;
    }

    &__list {
        display: flex;
        align-items: center;

        user-select: none;

        @include abstracts.screen(md) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__item {
        display: flex;
        user-select: none;
        @include abstracts.screen(md) {
            & + & {
                margin-top: 20px;
            }
        }
    }

    &__link {
        -webkit-tap-highlight-color: transparent;
        color: var(--text-color-secondary);
        padding: 18px;

        line-height: 150%;

        @include abstracts.screen(md) {
            color: var(--text-color-primary);
            font-size: 2rem;

            padding: 24px;
        }

        &--hover {
            position: relative;
        }

        &--hover::before {
            content: "";

            position: absolute;
            bottom: -6px;
            left: 0;

            display: block;
            width: 0;
            height: 3px;
            background: #6aea5c;
            border-radius: 6px;

            transition: width 0.2s;
        }

        &:hover &--hover::before {
            width: 100%;
        }

        &:hover {
            color: var(--text-color-primary);
        }
    }
}

.sign-in {
    font-size: 1.6rem;
    line-height: 150%;
    user-select: none;

    padding: 8px 27px;

    background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    border-radius: 8px;
    border: 1px solid var(--Text-Color-dark-blue, #272633);

    @include abstracts.screen(md) {
        margin-left: auto;
    }
}

.close-btn {
    width: 24px;
    height: 24px;

    margin: 0 0 40px 20px;
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba($color: #000, $alpha: 0.2);
    filter: blur(10px);

    opacity: 0;
    visibility: hidden;
}

// ****************************************************************

.hero {
    margin-top: 89px;

    @include abstracts.screen(md) {
        margin-top: 20px;
    }

    &__content {
        position: relative;

        display: flex;
        justify-content: space-between;
        column-gap: 30px;

        @include abstracts.screen(md) {
            flex-direction: column;
        }
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 62px;

        @include abstracts.screen(md) {
            margin-top: 12px;
        }
    }

    &__heading {
        text-align: center;
        margin-bottom: 30px;

        @include abstracts.screen(sm) {
            width: 320px;
        }
    }

    &__mark {
        position: relative;

        padding: 1px;
        border: 1px dashed #fff;
        line-height: 7rem;
    }

    &__dot {
        position: absolute;

        display: block;
        width: 9px;
        height: 9px;
        border-radius: 4.5px 4.5px 4.5px 0px;

        &-one {
            top: -10px;
            left: -10px;
            background-color: #ae8ff9;
            transform: rotate(270deg);
        }

        &-two {
            top: -10px;
            right: -10px;
            background-color: #ef8f00;
        }

        &-three {
            bottom: -10px;
            right: -10px;
            background-color: #0cce84;
            transform: rotate(90deg);
        }

        &-four {
            bottom: -10px;
            left: -10px;
            background-color: #ff7667;
            transform: rotate(180deg);
        }
    }

    &__desc {
        text-align: center;
        width: 447px;
        margin-bottom: 44px;
    }

    &-btn {
        display: flex;
        align-items: center;
        column-gap: 23px;

        @include abstracts.screen(md) {
            flex-direction: column;
            row-gap: 18px;

            & .btn {
                width: 143px !important;
            }
        }
    }

    &__img-left {
        @include abstracts.screen(md) {
            margin-left: 40px;
        }
    }

    &__img-right {
        @include abstracts.screen(md) {
            position: absolute;
            bottom: 150px;
            right: 60px;
            align-self: flex-end;
        }
    }

    &__media {
        position: relative;
        margin: 110px auto 0;

        padding-top: 50%;

        @include abstracts.screen(md) {
            margin-top: 62px;
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: contain;
    }
}
