:root {
    --text-color-primary: #f9f9f9;
    --text-color-second: #858b93;
}

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "sora", sans-serif;

    background: #131517;
    color: #f9f9f9;
}
